
@{
    ViewBag.Title = "LineChart";
}

<h2>LineChart</h2>

<canvas id="lineChart"></canvas>

<script src="~/Scripts/Chart.js"></script>
<script>
    var ctx = document.getElementById("lineChart");
    var data = {
        labels: ["", "Blue", "Yellow", "Green", "Purple", "Orange"],
            datasets: [{
                label: '# of Votes',
                data: [12, 19, 3, 5, 2, 3],
                backgroundColor: [],
            }
</script>

