<div class="btn-group">
    <button type="button" id="btnSketch" class="btn btn-default">Sketch hinzufügen</button>
    <button type="button" id="btnPhoto" class="btn btn-default">Foto hinzufügen</button>
</div>

<div id="addGraphicDiv"></div>