<table class="table">
    <tr>
        <td>
            <button id="btnSketch" class="btn btn-default">Sketch</button>
        </td>
        <td>
            <button id="btnPhoto" class="btn btn-default">Photo</button>
        </td>
    </tr>
</table>

<div id="addGraphicDiv"></div>