@{
    ViewBag.Title = "Home Page";
}

<style>
    
</style>

<div class="jumbotron" style="background-color: #292f32; color: white;">
    <h1>Salon</h1>
    <p class="lead">Salon ist eine Anwendung zum Verwalten von Frisör-Besuchen.</p>
    <p><a href="/Visits/VisitCreate" class="btn btn-primary btn-lg">Neuer Besuch &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Besuche</h2>
        <p>
            Unter Besuchen versteht man einen Kundenaufenthalt.<br />
            Dieser Teil der Anwendung zeigt alle vergangenen Besuche an
            und ermöglicht es neue anzulegen.
        </p>
        <p><a class="btn btn-default" href="/Visits/Index">Besuche &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Kundenverwaltung</h2>
        <p>
            Die Kundenverwaltung lässt den Benutzer neue Kunden anlegen oder 
            ermöglicht es ihm bestehende Kundendaten anzupassen.
        </p>
        <p><a class="btn btn-default" href="#">Kundenverwaltung &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Schülerauswertung</h2>
        <p>
            Hier kannst du deine durchgeführten Arbeiten begutachten und 
            einen Bericht davon herunterladen.
        </p>
        <p><a class="btn btn-default" href="/Statistics/MyWork">Meine Auswertung &raquo;</a></p>
    </div>
</div>