/* modal*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close-btn {
    color: white;
    float: right;
    font-size: 35px;
    font-weight: bold;
    opacity: 0.8;
}

.close-btn:hover,
.close-btn:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.8;
}

.modal-header {
    padding: 2px 16px;
    background-color: #333;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #333;
    color: white;
}

/*end modal*/



body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#treatments .panel {
    border: 1px solid #aaa;
}

#treatments .panel-heading{
    background-color: #eee;
    padding: 10px 20px;
}

#treatments .inline-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#treatments .inline-text.title{
    padding: 10px 20px;
    margin-bottom: 5px;
    background-color: #eee;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: 1px solid #aaa;
}

#treatments .inline-text p {
    width: 25%;
    margin: 0;
    text-align: center;
}

#treatments .inline-text.title p{
    font-weight: bold;
}

#treatments .form-group{
    width: 25%;
}

#treatments .special-edit .form-group{
    width: 100%;
}

#treatments .form-group input[type="radio"], #treatments .form-group input[type="checkbox"]{
    margin: 0;
    box-shadow: none;
}

#treatments.edit .inline-text.title p{
    text-align: center;
}

#treatments.edit .form-group{
    margin: 0 10px;
}
#treatments .special .btn{
    margin-top: 10px;
}
#treatments .btn{
    max-width: 100%;
}
#treatments .manyButtons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#treatments .manyButtons .btn {
    margin-bottom: 5px;
}
#treatments .addStepContainer{
    position: relative;
}
#treatments .addStepContainer form-group{
    padding-right: 32px;
}
#treatments .add_step{
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;
}