@model IEnumerable<Salon.Views.ViewModels.WorkPerClassViewModel>

<link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" media="screen" runat="server" />

@{
	ViewBag.Title = "Work per student";
}

<h2>Arbeit nach Klasse</h2>

<div style="margin: 30px 0px 30px 0px; display: inline-block; width: 100%">
	<select class="form-control" style="width: 150px; height:40px; display: inline-block" id="classSelector">
		@foreach(var item in Model.First().GetClasses())
		{
			<option>@item</option>
		}
	</select>
	<button style="margin-left: 10px; width: 150px; height: 40px; display: inline-block; clear: both" class="btn btn-primary" onclick="changeClass();">Anzeigen</button>
	
    @*<button style="float: right; display: inline-block; width: 150px; height: 40px" class="btn btn-primary"  onclick="location.href='@Url.Action("WorkPerClassExport", "Reports", new { export = "excel" })'">Download &#x21e9</button>*@
    <a style="float: right; display: inline-block; width: 150px; height: 40px" class="btn btn-primary" id="export">Download &#x21e9</a>
</div>

@if (ViewBag.Message != null)
{
	<script type="text/javascript">
			window.onload = function () {
				alert("@ViewBag.Message");
			};
	</script>
}

<div id="workTable" style="display: none;">
	
</div>

<script>
	function changeClass() {
		$.ajax({
			url: "/reports/workperclass?cl=" + $("#classSelector").val(),
			type: "get",
			success: function (result) {
				$("#workTable").html(result);
				$("#workTable").show();
			}
		});
	}
</script>