@model IEnumerable<Salon.Models.Steps>
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h2>Arbeitsschritt auswählen</h2>
        </div>
        <div class="modal-body">
            @foreach (var s in Model)
            {
                <a class="list-group-item" id="addStepEntry" href="javascript:void(0)" 
                   data-description="@s.Description"
                   data-title="@s.Title"
                   data-step="@s.StepId">
                    @s.Title
                </a>
            }
        </div>
    </div>
</div>