@model Salon.Models.VisitTreatment
@{
    ViewBag.Title = "_TreatmentForm";
}

<h2>
@Model.name
</h2>

<div id="treatmentFormContainer">
    @foreach (var tStep in Model.tasks) {
        <div class="form-group">
            <div class="col-sm-3">
                <label>
                    @tStep.TreatmentSteps.Steps.Title
                </label>
            </div>
            <div class="col-sm-9">
                <input type="text" name="inp_step_@tStep.TreatmentId _@tStep.StepId" class="form-control" value="@tStep.Description"/>
            </div>
        </div>
    }
</div>

<hr />


