@model Salon.Models.VisitCreateViewModel

@{
    ViewBag.Title = "VisitCreate";
}

<h2>Besuch</h2>

<div class="row">
    <div class="col-sm-6 customerContainer">

    </div>

    <div class="col-sm-6">

    </div>
</div>

<div class="row">
    <div class="col-sm-6 treatmentContainer">
        <h3>Behandlungen:</h3>
        @if (Model.selectedTreatments.Count() < 1) {
            <div class="alert alert-info"><span class="glyphicon glyphicon-info-sign"></span> Keine Behandlungen ausgew&auml;hlt</div>
        }
        <ul class="list-group">

        </ul>
    </div>

    <div class="col-sm-6 addTreatmentsContainer">
        <h3>Behandlung hinzuf&uuml;gen:</h3>
        <ul class="list-group">
            @foreach (var t in Model.availableTreatments) {
                <li class="list-group-item">
                    @t.Title
                </li>
            }
        </ul>
        
    </div>
</div>

