@model Salon.Models.Visits

@{
    ViewBag.Title = "VisitCreate";
}

<h2>Besuch</h2>

<div class="row">
    <div class="col-sm-6 customerContainer">

    </div>

    <div class="col-sm-6">

    </div>
</div>

<div class="row">
    <div class="col-sm-6 treatmentContainer">
        <h3>Behandlungen:</h3>
        <ul class="list-group">
            
        </ul>
    </div>

    <div class="col-sm-6 addTreatmentsContainer">

    </div>
</div>

