@model Salon.Models.VisitCreateViewModel

@{
    ViewBag.Title = "VisitCreate";
}

<h2>Besuch</h2>

<div class="row">
    <div class="col-sm-6" id="customerContainer">
        <div class="row">
            <font class="col-sm-6">Vorname</font>
            <font class="col-sm-6">Nachname</font>
        </div>
    </div>

    <div class="col-sm-6">

    </div>
</div>

<div class="row">
    <div class="col-sm-6 treatmentContainer">
        <h3>Behandlungen:</h3>
        @if (Model.selectedTreatments.Count() < 1) {
            <div class="alert alert-info"><span class="glyphicon glyphicon-info-sign"></span> Keine Behandlungen ausgew&auml;hlt</div>
        }
        <ul class="list-group">

        </ul>
    </div>

    <div class="col-sm-6 addTreatmentsContainer">
        <h3>Behandlung hinzuf&uuml;gen:</h3>
        <ul class="list-group">
            @foreach (var t in Model.availableTreatments) {
                <li class="list-group-item">
                    @t.Title
                </li>
            }
        </ul>
        
    </div>
</div>

@Html.ActionLink("n/A", "_CustomerPicker", new { @class = "hidden" }, new { id = "lnk_customerPicker"})
<div id="customerPickerContainer">

</div>

@section scripts{
    <script type="text/javascript">

        $(function () {
            $.get($("#lnk_customerPicker").prop('href'), function (response) {
                $('#customerPickerContainer').html(response);

                $("#btn_customerPickerSelect").on('click', function (e) {

                });
            });


            
        });


        $("#customerContainer").on("click", function (e) {
            $("#customerPicker").modal();
        });
    </script>    
}

